/* .start{
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
}
.start div{
  width: 50%;
  height: 50vh;
}

.first img{
  width: 100%;
}

.second{
  display: flex;
  justify-content: space-around;
  align-items: center;
} */
